<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.PushwooshSampleApp.voip" android-packageName="com.example.sampleapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>demovoip</name>
    <description>Pushwoosh VoIP Sample App</description>
    <author email="support@pushwoosh.com" href="https://www.pushwoosh.com">
        Pushwoosh Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="ios">
        <preference name="deployment-target" value="13.0" />
    </platform>

    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <preference name="AndroidLaunchMode" value="singleTask" />
        <preference name="GradleVersion" value="8.9" />
        <preference name="AndroidGradlePluginVersion" value="8.5.1" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="35" />
    </platform>

    <hook type="after_platform_add" src="hooks/install-plugin.js" />
</widget>
