<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.PushwooshSampleApp" android-packageName="com.example.sampleapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>newdemo</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="ios">
        <preference name="deployment-target" value="13.0" />
    </platform>

    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <hook type="after_prepare" src="hooks/hms-android.js" />
    </platform>

    <hook type="after_platform_add" src="hooks/install-plugin.js" />
</widget>
